{% extends "projects/base.html" %}

{% block content %}

{% load static %}

<div class="px-5 mb-3 bg-dark text-light rounded-3 py-4">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold mb-5">Welcome to my website!</h1>
      <p class="col-md-12 fs-4 mt-4">You can check here almost all of my projects... are you interested in Web development? Check out my open source Web development projects.</p><p class="coll-md-12 fs-4">Or you wanna have a fun & play one of my free to play games? I promise. They're awersome... Please check out the great Misty mountains project. It's definetly the biggest one! Have a fun!</p>
      <div class="btn-group col-12 py-2" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'about_me' %}" class="btn btn-outline-danger col-sm py-4 fs-4 hover-scale">Some info About me</a>
        <a href="{% url 'certificates' %}" class="btn btn-outline-success col-sm py-4 fs-4 hover-scale">Qualification & Certificates</a>
      </div>
      <div class="btn-group col-12 py-2" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'web_development' %}" class="btn btn-outline-primary col-sm py-4 fs-4 hover-scale">Web Development</a>
        <a href="{% url 'game_development' %}" class="btn btn-outline-warning col-sm py-4 fs-4 hover-scale">Game Development</a>
      </div>
      <div class="btn-group col-12 py-2" role="group" aria-label="Basic mixed styles example hover-scale">
        <a href="mailto: janhorak58@gmail.com" class="btn btn-outline-info col-sm py-3 fs-4 hover-scale">Email me</a>
      </div>
  </div>
  </div>
  <div class="row align-items-md-stretch mb-4 mt-4">
    <div class="col-md-6 mb-4">
    <a href="{% url 'web_development' %}" class="text-decoration-none text-light">
    <div class="h-100 p-5 text-white bg-primary rounded-3 hover-scale">
        <h2>Web Development</h2>
        <p>Hello, In this awersome section of this website you can check projects that I've been working on while learning web development! Check this 100% by clicking button bellow or either the image.</p>
        <hr>
        
          <img src="{% static 'images/web_dev2.png' %}" alt="Web development Image" class="rounded img-fluid mb-3" >
        </a>
       

        <div class="d-grid hover-scale">
        <a class="btn btn-outline-dark fs-2 py-4" href="{% url 'web_development' %}">Check Web developmet Now</a>
    </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
    <a href="{% url 'game_development' %}" class="text-decoration-none text-dark">
      <div class="h-100 p-5 bg-warning border rounded-3 hover-scale">
        <h2>Hello Gamer!</h2>
        <p>You simply must see the insane free games created in Unreal Engine 4. I'm sure you won't be tired by playing 'em. The Misty mountains is the greatest one! Check also other games f.e. made in python or godot.</p>
        <hr>
        
        <img src="{% static 'images/game_dev2.png' %}" alt="Game development Image" class="rounded img-fluid mb-3" style="min-width: 100%;">
      </a>
        <div class="d-grid hover-scale">
          <a href="{% url 'game_development' %}" class="btn btn-outline-dark fs-2 py-4">Discover the Games!</a>
      </div>
    </div> 
    </div>
  </div>



{% endblock %}