{% extends 'projects/base.html' %}
 
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Game Development</li>
    </ol>
  </nav>
  <div class="bg-warning text-dark py-5 text-center rounded mb-5">
      <h1 >Game Development</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">

      {% for tool in tools %}
      <div class="col hover-scale">
        <div class="card border border-warning">
          <a href="{% url 'gameprojects' tool.name %}"><img src="{{ tool.image.url }}" class="card-img-top img-fluid" alt="logo of {{tool.title}}"></a>
          <div class="card-body">
            <h5 class="card-title">{{ tool.title }}</h5>
            <p class="card-text">{{tool.desc}}</p>
            <div class="d-grid">
              {% if tool.docs_url %}
            <p class="card-text">More about {{tool.title}} you can find <a href="{{tool.docs_url}}" class="btn btn-outline-warning btn-sm" target="_blank">Here</a></p>
              
            {% endif %}
              <a href="{% url 'gameprojects' tool.name %}" class="btn btn-outline-warning py-4 hover-scale">Show the {{tool.title}} Games</a>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

    </div>
    

 
  {% endblock %}