{% extends 'projects/base.html' %}
 
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'game_development' %}">Game Development</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{name|capfirst}} Projects</li>
    </ol>
  </nav>
  <div class="bg-warning text-dark py-5 text-center rounded mb-5">
    <h1 >{{name|capfirst}} Projects</h1>
  </div>

<div class="card-group">
{% for p in projects %}
<div class="card hover-scale">
    <a href="{% url 'detail_game' p.id %}" class="text-decoration-none text-dark"><img src="{{p.image.url}}" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">{{p.title}}</h3>
        <p class="card-text">{{p.short_description}}</p>
        <p>Used technologies: {{p.used_tech}}</p>
      </a>
        <div class="d-grid">
            <a href="{% url 'detail_game' p.id %}" class="btn btn-outline-warning py-4 hover-scale">Show More About {{p.title}}</a>
        </div>
      </div>
    </div>

{% endfor %}
</div>

{%endblock%}

